{% load i18n %}
<div id="connection-actions-{{ attendee.user.id }}">
    {% if action == 'accept' %}
    <span class="badge badge-success inline-flex items-center gap-1">
        {% include "shared/icons/check-circle.html" with class="w-3 h-3" %} {% trans
        "Accepted!" %}
    </span>
    {% elif action == 'decline' %}
    <span
        class="badge inline-flex items-center gap-1 bg-gray-400 text-white dark:bg-gray-600"
    >
        {% trans "Declined" %}
    </span>
    {% endif %}
</div>
