<svg xmlns="http://www.w3.org/2000/svg" viewBox="89 75 318 325" class="{{ class|default:'w-7 h-7' }}" aria-hidden="true">
  {% include "crush_lu/includes/ghost-core.html" with variant="static" %}
  <!-- Heart orbiting around ghost head -->
  <g transform="translate(248,165)">
    <g>
      {% include "crush_lu/includes/ghost-heart.html" %}
      <animateMotion dur="4s" repeatCount="indefinite" path="M85,0 C85,30 46,55 0,55 C-46,55 -85,30 -85,0 C-85,-30 -46,-55 0,-55 C46,-55 85,-30 85,0Z"/>
    </g>
  </g>
</svg>
